.footer {
  background-color: rgb(44, 47, 49);
  margin-top: 0;
}

.footer-content {
  text-align: center;
  color: white;
}

.popup-listing {
  background-color: rgb(240, 245, 247);
  min-width: 150px;
  max-width: 150px;
}