.leaflet-container {
  height: 350px;
  width: 100%;
}

.cycho-photo {
  width: 200px;
  height: 200px;
}

.popup-photo {
  width: 150px;
  height: 150px;
}
.popup >p{
  font-size: 200px;
}

.cycho-map {
  height: 350px;
  width: 100vw;
}

.img {
  width: 300px;
}
