.cycho-listing {
    padding-left: 20px;
    font-family: 'Inter', sans-serif;
}

.display-cychos {
   display: grid;
   grid-auto-columns: 1fr 1fr 1fr;
   grid-auto-flow: column;
}

.cycho-text {
    font-size: 14px;
  }

  .cycho-text > div > p {
    color: #767676;
    text-decoration: none;
  }

  .cycho-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cycho-bio {
      width: 250px;
  }

  .cycho-image-section {
    align-self: center;
  }

  .cycho-photo {
    width: 250px;
    border-radius: 6px;
  }