
/* mAYBE attach the header logo to the map component to keep it fixed and in line */

/* .logo {
    margin: 2%;
    margin-left: 35%;
    height: 70px;
} */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 70px;
}
.slogan {
    text-align: center;
}