.footer {
    padding-top: 80px;
    padding-bottom: 30px;
    font-family: 'Raleway Dots', sans-serif;    font-size: 10pt;
    font-weight: lighter;
}

.footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 80px;
}

.footer-content {
    text-align: center;
    color: black;
}

.footer-email {
    width: 500px;
    height: 44px;
    border: solid black;
    border-width: 1px;
    border-bottom: 0px;
    text-align: center;
}

.footer-subscribe {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    width: 506px;
    height: 48px;
    border: solid, black;
    border-width: 1px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

}

.social {
    padding-left: 50px;   
    padding-right: 50px;   
    height: 30px;
    opacity: 70%;
}

.social:hover {
    /* how do you zoom without the email box below moving?? */
    /* height: 33px; */
    opacity: 100%;
}

