.img-container {
   text-align: center;
}

.img-holder {
    text-align: center;
}
  
.img {
    width: 120px;
    border: solid rgb(175, 167, 167) 1px;
    border-radius: 4%;

}
.image-upload {
    text-align: center;
}
  