.img-container {
   text-align: center;
}

.img {
    width: 120px;
    border: solid rgb(175, 167, 167) 1px;
    border-radius: 4%;
    margin: 10px;

}


.heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 12pt;
}
